# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/bin
app/bin/*
app/bin/main/projekte/Builder/Builder.class
app/bin/main/projekte/Builder/MainBase.class
app/bin/main/projekte/Builder/Classes/Hexagon.class
app/bin/main/projekte/util/Display.class
